*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.container{
    margin: auto;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
    
}

.genform{
    width: 800px;
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px black;
}

.content{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin-top: 5px;
    margin: auto;
    height: 600px;
    box-shadow: 2px 2px black;
    border-radius: 15px 15px 0px 0px;
}

.content p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

form{
    padding: 10px;
    width: 100%;
    height: 200px;
}

#day{
    border-radius: 6px;
    font-size: 13px;
    padding: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#month{
    border-radius: 6px;
    font-size: 13px;
    padding: 5px;
    margin-left: 3px;
    margin-bottom: 10px;

}

#year{
    border-radius: 6px;
    font-size: 13px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#gender{
    border-radius: 6px;
    font-size: 16px;
    color: black;
    padding: 5px 30px;
    margin-right: 60px;
    background-color: white;
    border: 2px solid black;
}